.StatsBar, .StatsBarNum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 10px auto;
  text-align: center;
}

.stats__container {
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: #ddd;
  border-radius: 25px;
  height: 14px;
  position: relative;
  overflow: hidden;
}

.stats__name {
  width: 14%;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.stats__hometeam {
  align-self: flex-end;
  background-color: rgb(66, 91, 141);
  height: 100%;
}

.stats__hometeam__value, .stats__awayteam__value {
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
}
.stats__awayteam {
  background-color: rgb(213, 57, 33);
  height: 100%;
}