.Fixture {
  padding-top: 75px;
  width: 100%;
  max-width: 1150px;
  margin: 0px auto;
}

.Fixture__header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
}