.predictions {
  font-family: 'Open Sans';
  width: 90%;
  margin: 10px auto;
}

.predictions h1 {
  font-weight: 700;
  margin-top: 20px;
  font-size: 24px;
}

.last5stats__container {
  border: 1px solid red;
}

.predictions__container {
  background-color: #F9F9FB;
  border-color: #E4E7EB;
  border-radius: 10px;
  padding: 10px;
}

.predictions__container__4 {
  display: flex;
  justify-content: space-evenly;
}

.predictions__container__2 {
  width: 35%;
}

.advice {
  text-align: center;
}

.predictions__container p {
  font-size: 18px;
  font-weight: 600;
}

.predictions__container span {
  font-size: 14px;
  color: #425A70;
  letter-spacing: 2px;
  font-weight: 400;
}

.h2hstats {
  text-align: center;
  margin: 20px 0px;
}

.h2hstats__container {
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
  overflow: hidden;
}

.h2hstats__homewin{
  background-color: rgb(66, 91, 141);
}

.h2hstats__draw{
  background-color:rgba(67, 90, 111, 0.7)
}
.h2hstats__awaywin{
  background-color: rgb(213, 57, 33);
}