.cards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: center;
  max-width: 85%;
  margin: auto;
}
