.card__large {
  font-family: 'Cabin';
  text-align: start;
  width: 98%;
  margin: 0px auto 30px auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f9f9fb;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  display: flex;
  align-items: center;
  border: 1px solid rgb(225, 224, 230);
}


.card__large:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__large__img {
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  height: 100%;
  width: 700px;

}

.card__large__info {
  padding: 16px 24px 10px 24px;
  align-self: center;
}

.card__large__source {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #868686;
}

.card__large__title {
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.card__large__description {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: black; 
}

.card__large__published {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #868686;
}


.card__large__date {
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  color: #2B9348;
}
