.matchday__selector {
  display: flex;
  font: 'Open Sans';
  align-items: center;
  margin: 0px 0px 25px 15px;
}

.current__matchday {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 15px;
}

button {
  text-decoration: none;
  display: inline-block;
  height: 25px;
  width: 25px;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid #ddd;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
  color: black;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.previous, .next {
  background-color: #f1f1f1;
  color: black;
}
.round {
  border-radius: 50%;
}