.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footballText {
  font-size: 25px;
  margin-right: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.icon {
  height: 40px;
}

.centralText {
  margin-left: 5px;
  font-weight: 700;
  font-size: 25px;
}

.line {
  height: 3px;
  width: 283px;
  background-color: black;
}
