.Team {
  padding-top: 75px;
  width: 100%;
  max-width: 1150px;
  margin: 0px auto;
}

.team__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.team__logo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F9FB;
  margin-right: 20px;
}

.team__details {
  font-family: 'Cabin';
  line-height: 0px;
  display: flex;
  flex-direction: column;
}

.team__details p {
  color: #425A70;
  letter-spacing: 2px;
  font-weight: 500;
}
.team__details h2 {
  font-size: 46px;
}

.team__views {
  display: flex;
  padding: 15px 10px;
  border-bottom: 2px solid #66788A;
  border-radius: 2px;
  margin-bottom: 25px;
}

.team__view {
  padding-top: 25px;
}

.team__views a {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: black;
  text-decoration: none;
  font: 12px 'Cabin';
  font-weight: 700;
  min-width: 100px;
  text-transform: uppercase;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  text-align: center;
  cursor: pointer;
}
