.League {
  padding-top: 75px;
  width: 100%;
  max-width: 1150px;
  margin: 0px auto;
}

.league__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.league__logo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F9FB;
  margin-right: 20px;
}

.league__details {
  font-family: 'Cabin';
  line-height: 0px;
}

.league__details p {
  color: #425A70;
  letter-spacing: 2px;
  font-weight: 500;
}
.league__details h2 {
  font-size: 46px;
}

.league__views {
  display: flex;
  padding: 15px 10px;
  border-bottom: 2px solid #66788A;
  border-radius: 2px;
  margin-bottom: 30px;
}

.league__views a {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: black;
  text-decoration: none;
  font: 12px 'Cabin';
  font-weight: 700;
  min-width: 100px;
  text-transform: uppercase;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  text-align: center;
  cursor: pointer;
}
a:active {
  outline: none;
  border: none;
}
a:focus {
  outline: 0;
}

div.greenUnderline a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #2B9348;
  transition: all 0.3s;
}

div.greenUnderline a:after {
  right: 0px;
  bottom: 0px;
}

div.greenUnderline a:hover:after {
  opacity: 1;
  width: 100%;
}

