#goalkeepers,
#defenders,
#midfielders,
#attackers {
  width: 90%;
  margin: 0px auto;
  border-spacing: 0;
}

.Squad h2 {
  width: 90%;
  margin: 0px auto;
}

.Squad tr:hover:not(.table__header) {
  background-color: #f9f9fb;
  cursor: pointer;
}

.Squad td {
  border-bottom: 1px solid #66788a;
}

.Squad table td:not(.table__team) {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.Squad table td img {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  text-align: left;
}

.Squad table td p {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.Squad td.table__player {
  display: flex;
  margin-left: 10px;
}
