.lineups {
  display: flex;
  width: 40%;
  flex-direction: column;
  line-height: 0px;
  font-family: 'Open Sans';
  background-color: #F9F9FB;
  border-radius: 10px;
  padding: 10px 30px;
}

.lineups p {
  font-size: 20px;
  font-weight: 700;
}

.lineups span {
  font-size: 16px;
  color: #425A70;
  letter-spacing: 2px;
  font-weight: 500;
}

.lineups h1 {
  font-size: 24px;
  color: #425A70;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}

.lineups__starting {
  margin-top: 10px;
}

.lineups__subs {
  margin-top: 25px;
}