#standings {
  width: 90%;
  margin: 0px auto;
  border-spacing: 0;
}

tr:hover:not(.table__header) {
  background-color: #F9F9FB;
  cursor: pointer;
}

td {
  border-bottom: 1px solid #66788A;
}

table td:not(.table__team)  {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

table td img {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  text-align: left;
}

table td p {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}